*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-decoration: none;
}

body{
    font-family: 'Open Sans',sans-serif;

}
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #16a085;
    align-items: center;
}
.nav-item{
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
.nav-item:hover{
    background-color: #34c4a7;
    color: rgb(68, 66, 66);
}
.main-section{
    width: 100%;
    height: 20rem;
    font-size: 2rem;
    background-color: #434040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
}
.image{
  width: 100%;
  margin-bottom: 30px;
}
.section-image{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
}
.section-image img{
    width: 100%;
}
.row{
    width: 100%;
    margin: 10px;
    display: inline-flex;
}
.first-col{
    width: 60%;
    height: 30rem;
    margin-left: 10%;
    color: #16a085;
    font-family: 'Open Sans Condensed', sans-serif;
}
.second-col{
    width: 40%;
    height: 30rem;
    margin-left: 20%;
    color: #16a085;
    display: inline-flex;
    flex-direction: column;
    row-gap: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.first-col-header{
    margin-top: 20px;
}
.p1{
    margin-bottom: 20px;
}
.link1{
    color: black;
    text-decoration: none;
    text-align: justify;
    justify-content: center;
    border-bottom: 1px solid;
}
.link1:hover{
    color: #16a085;
}
.row-end{
    color: white;
    background-color: #434040; 
    width: 100%;
    height: 20rem;
    display: inline-flex;

}
.first-col-end{
    width: 33.3%;
    height: 20rem;
    row-gap: 20px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 30px;
    text-decoration: none;
}
.a11{
    color: white;
}
.a11:hover{
    color: #16a085;
}
.second-col-end{
    width: 33.3%;
    height: 20rem;
    row-gap: 20px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}
.a22{
    color: white;
}
.a22:hover{
    color: #16a085;
}
.third-col-end{
    width: 30.4%;
    height: 20rem;
}
.butoni{
    width: 3cm;
    height: 1.5cm;
    background-color: #16a085;
    text-align: center;
    align-items: center;
    margin-top: 20%;
}
.butoni:hover{
    color: white;
    background-color: #34c4a7;
}
.section-last{
    width: 100%;
    height: 10rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background-color: #16a085;
    text-align: center;
    align-items: center;
}
.form-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #16a085;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-form{
    min-width: 30%;
    height: 40vh;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.login-form input{
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #16a085;
}
.login-button{
    padding: 5px 25px ;
    outline: none;
    border: 1px solid #16a085;
    border-radius: 5px;
    color:goldenrod;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}
.login-button:hover{
    background-color:white;
}
.register-form{
    min-width: 27%;
    height: 58vh;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.register-form input{
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #16a085;
}
.pp1{
    margin-bottom: 7%;
    display: flex;
    justify-content: space-around;
}
.pp2{
    border-bottom: 1px solid black;
}
.log-h1{
    margin-bottom: 3%;
    border-bottom: 1px solid black;
}
.about-section{
    margin: 0 ;
    padding: 0 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #16a085;
}
.div1{
    justify-content: space-evenly;
    margin-top: 15%;
    padding: 5% 15%;
    text-anchor: start;
}
.div2{
    justify-content: space-evenly;
    margin-top: 15%;
    padding: 5% 15%;
    text-anchor: start;
}
